.cover__subtitle {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 360px;
    text-align: center;
    margin: 0;
    }

@media screen and (max-width: 580px) {
    .cover__subtitle{
        font-size: 16px;
        line-height: 18px;
        max-width: 288px;
    } 
}

@media screen and (max-width: 460px) {
    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
    }
}