.footer__copyright {
    font-family: Inter;
    font-size: 14px;
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 750px) {
    .footer__copyright {
    font-size: 14px;
    line-height: 14px;
}
}

@media screen and (max-width: 580px) {

.footer__copyright {
    font-size: 14px;
    line-height: 14px;
}
}