.place__par {
    margin: 0;
    padding: 0 0 26px;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
}

.place__par:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1170px) {
    .place__par {
        padding: 0 0 27px;
    }
}

@media screen and (max-width: 960px) {
    .place__par {
        max-width: 352px;
        padding: 0 24px 25px 0;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
    }
}

@media screen and (max-width: 780px) {
    .place__par{
        padding: 0 16px 12px;
          }
}

@media screen and (max-width: 390px) {
    .place__par {
           font-size: 16px;
           line-height: 26px;
       }
   }