.place__par {
    margin: 0;   
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    padding: 0 0 26px 40px;
    box-sizing: border-box;
}

.place__par:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 1170px) {
    .place__par {
        padding: 0 0 27px 32px;
    }
}

@media screen and (max-width: 960px) {
    .place__par {
        padding: 0 0 25px 28px;
        font-size: 16px;
        line-height: 26px;
    }
}

 @media screen and (max-width: 740px) {
    .place__par{
         padding: 0 16px 25px; 
    }
} 

@media screen and (max-width: 390px) {
    .place__par {
           font-size: 16px;
           line-height: 26px;
    }
} 