.cover__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    color: #FFFFFF;
    max-width: 560px;
    text-align: center;
    margin: 0;
    padding: 0 0 32px; 
}

@media screen and (max-width: 700px) {
    .cover__title {
        font-size: 64px;
        line-height: 68px;
    }
}

@media screen and (max-width: 580px) {
    .cover__title{
        font-size: 48px;
        line-height: 54px;
        padding-bottom: 16px ;
    }
}

@media screen and (max-width: 460px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
}